.Data_artworkTopic__14UO1{
    display:block;
    width:70%;
    margin:48px 0
}
@media(max-width:768px){
    .Data_artworkTopic__14UO1{
        width:128px
    }
}
.FullButton_button__zU_Uc{
    font-family:Book,-apple-system,BlinkMacSystemFont,helvetica neue,helvetica,sans-serif;
    background:var(--theme-button);
    font-weight:400;
    display:-webkit-inline-flex;
    display:-moz-inline-box;
    display:inline-flex;
    -webkit-flex-direction:column;
    -moz-box-orient:vertical;
    -moz-box-direction:normal;
    flex-direction:column;
    -webkit-align-items:center;
    -moz-box-align:center;
    align-items:center;
    -webkit-justify-content:center;
    -moz-box-pack:center;
    justify-content:center;
    width:100%;
    padding:16px 32px;
    border-radius:4px;
    text-align:center;
    color:#fff;
    box-shadow:0 1px 4px rgba(0,0,0,.2);
    cursor:pointer;
    letter-spacing:1px;
    -webkit-transition:all .2s ease;
    transition:all .2s ease;
    text-decoration:none;
    box-shadow:inset 0 1px 0 rgba(255,255,255,.07);
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.FullButton_button__zU_Uc:visited{
    color:#fff
}
.FullButton_button__zU_Uc:hover{
    background:var(--theme-button-hover)
}
.App_body__cHLvu{
    font-size:var(--typescale-base);
    padding:24px
}
.App_label__96d8i{
    font-size:var(--typescale-1);
    line-height:1.5;
    color:var(--color-shark-gray);
    margin-top:24px
}
.App_withCode__7O8vi{
    display:-webkit-flex;
    display:-moz-box;
    display:flex;
    -webkit-align-items:flex-start;
    -moz-box-align:start;
    align-items:flex-start;
    -webkit-justify-content:space-between;
    -moz-box-pack:justify;
    justify-content:space-between
}
@media(max-width:768px){
    .App_withCode__7O8vi{
        display:block
    }
}
.App_withImage___DqrC{
    width:100%;
    min-width:10%;
    padding:0 24px 24px 64px
}
@media(max-width:768px){
    .App_withImage___DqrC{
        padding:48px 0 24px
    }
}
.App_hideMobile__0tueu{
    display:block
}
@media(max-width:768px){
    .App_hideMobile__0tueu{
        display:none
    }
}
.App_left__j7ytm{
    max-width:488px;
    -webkit-flex-shrink:0;
    flex-shrink:0
}
@media(max-width:768px){
    .App_left__j7ytm{
        width:100%;
        max-width:568px
    }
}
.App_synthetich2__6_CLu{
    display:block;
    font-size:var(--typescale-3);
    font-family:Heading;
    letter-spacing:.4px;
    font-weight:400;
    line-height:1.5;
    margin-bottom:8px;
    color:var(--theme-text)!important
}
.App_synthetich2__6_CLu:hover,.App_synthetich2__6_CLu:visited{
    color:var(--theme-text)
}
.App_markdown__B3Yg5 h2{
    font-size:var(--typescale-3);
    font-family:Heading;
    letter-spacing:.4px;
    font-weight:400;
    line-height:1.5;
    margin-bottom:8px
}
.App_markdown__B3Yg5 p{
    font-size:var(--typescale-base);
    line-height:1.5;
    color:var(--color-shark-gray);
    margin-bottom:24px
}
.App_markdown__B3Yg5 p:last-child{
    margin-bottom:0
}
.App_markdown__B3Yg5 ul{
    padding-left:24px
}
.App_markdown__B3Yg5 li{
    margin-bottom:24px;
    color:var(--color-shark-gray)
}
.App_markdown__B3Yg5 li:last-child{
    margin-bottom:0
}
.App_markdown__B3Yg5 a{
    color:var(--color-green);
    font-weight:600;
    -webkit-transition:all .2s ease;
    transition:all .2s ease;
    text-decoration:none
}
.App_markdown__B3Yg5 a:hover{
    opacity:.6
}
.App_markdown__B3Yg5 blockquote>p{
    font-size:var(--typescale-1);
    border-left:2px solid gray;
    padding-left:24px;
    margin-top:24px
}
.App_container__fFRg0{
    background:var(--theme-background);
    color:var(--theme-text)
}
.App_h3__exlvD{
    font-size:var(--typescale-2);
    font-family:Heading;
    letter-spacing:.4px;
    font-weight:400;
    line-height:1.4
}
.App_h3custom__ZxxJn{
    font-size:16px;
    text-transform:uppercase;
    font-family:MonoMedium;
    color:#777;
    font-weight:400;
    letter-spacing:.2px
}
.App_desc__3G6Gd{
    font-size:var(--typescale-base);
    color:var(--color-shark-gray);
    line-height:1.5;
    max-width:568px
}
.App_caption__NlJHp{
    font-size:var(--typescale-1);
    color:var(--theme-text);
    line-height:1.5
}
.App_form__SICbo{
    display:-webkit-flex;
    display:-moz-box;
    display:flex;
    -webkit-align-items:flex-start;
    -moz-box-align:start;
    align-items:flex-start;
    -webkit-justify-content:space-between;
    -moz-box-pack:justify;
    justify-content:space-between
}
@media(max-width:768px){
    .App_form__SICbo{
        display:block
    }
}
.App_formBody__Q87kC{
    min-width:10%;
    width:100%;
    padding-left:72px
}
@media(max-width:768px){
    .App_formBody__Q87kC{
        padding-left:0
    }
}
.App_center__k4niz{
    max-width:1122px;
    display:-webkit-flex;
    display:-moz-box;
    display:flex;
    -webkit-align-items:center;
    -moz-box-align:center;
    align-items:center;
    -webkit-justify-content:center;
    -moz-box-pack:center;
    justify-content:center;
    width:100%;
    min-height:70vh;
    padding:0 48px 0 24px;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    margin:0 auto;
    position:relative
}
.App_center__k4niz video{
    display:block;
    width:100%
}
@media(max-width:768px){
    .App_center__k4niz{
        min-height:auto;
        padding:0 24px
    }
}
.App_centerText__1ChGu{
    position:absolute;
    font-family:Halbfett;
    top:40%;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    padding:24px 48px;
    text-align:center;
    letter-spacing:4px;
    font-size:2.4rem;
    background:-webkit-linear-gradient(#fff,#46a546);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent
}
@media(max-width:768px){
    .App_centerText__1ChGu{
        font-size:1.7rem;
        padding:0 48px
    }
}
.App_row__r4NJ8{
    width:100%;
    max-width:1120px;
    padding:0 12px;
    margin:0 auto;
    display:-webkit-flex;
    display:-moz-box;
    display:flex;
    -webkit-align-items:flex-start;
    -moz-box-align:start;
    align-items:flex-start;
    -webkit-justify-content:space-between;
    -moz-box-pack:justify;
    justify-content:space-between;
    -webkit-flex-wrap:wrap;
    flex-wrap:wrap
}
.App_rowCol__Qwo6E{
    width:50%;
    padding:12px
}
@media(max-width:768px){
    .App_rowCol__Qwo6E{
        width:100%
    }
}
.App_actions__G5wf8{
    margin-top:16px
}
.App_timelineItem___1W7J{
    display:-webkit-flex;
    display:-moz-box;
    display:flex;
    -webkit-align-items:flex-start;
    -moz-box-align:start;
    align-items:flex-start;
    -webkit-justify-content:space-between;
    -moz-box-pack:justify;
    justify-content:space-between;
    margin-bottom:32px
}
.App_timelineItem___1W7J:last-child section{
    display:none
}
.App_timelineItemDate__E0zPY{
    font-family:MonoMedium;
    font-size:var(--typescale-1);
    -webkit-flex-shrink:0;
    flex-shrink:0;
    margin-right:24px;
    margin-top:4px
}
.App_timelineCenter__7TZ8a{
    position:relative
}
.App_line__sMNHr{
    height:-webkit-calc(100% + 32px);
    height:calc(100% + 32px);
    width:2px;
    position:absolute;
    top:24px;
    bottom:0;
    left:-15px;
    background:#282f4d
}
.App_timelineItemDot___6Cxz{
    height:28px;
    width:28px;
    border-radius:24px;
    background:#fff;
    -webkit-flex-shrink:0;
    flex-shrink:0;
    display:-webkit-inline-flex;
    display:-moz-inline-box;
    display:inline-flex;
    -webkit-align-items:center;
    -moz-box-align:center;
    align-items:center;
    -webkit-justify-content:center;
    -moz-box-pack:center;
    justify-content:center;
    position:relative;
    border:4px solid #282f4d
}
.App_timelineItemText__neUgD{
    position:relative;
    min-width:10%;
    width:100%;
    padding-left:24px
}
.App_listItem__VPA8B{
    display:-webkit-flex;
    display:-moz-box;
    display:flex;
    -webkit-align-items:flex-start;
    -moz-box-align:start;
    align-items:flex-start;
    -webkit-justify-content:space-between;
    -moz-box-pack:justify;
    justify-content:space-between;
    width:100%;
    margin-top:12px;
    text-decoration:none;
    -webkit-transition:all .2s ease;
    transition:all .2s ease;
    cursor:pointer
}
.App_listItem__VPA8B,.App_listItem__VPA8B:visited{
    color:var(--color-light-gray)
}
.App_listItem__VPA8B:hover{
    opacity:.7
}
.App_listItemLeft__8Yhlt{
    -webkit-flex-shrink:0;
    flex-shrink:0;
    padding:24px 24px 24px 0;
    max-width:196px
}
.App_spot__1JczG{
    display:block;
    height:114px
}
.App_listItemRight__HX6_c{
    min-width:10%;
    width:100%;
    padding-top:16px
}
.App_listItemTitle__EIcW2{
    font-family:Halbfett;
    font-weight:400
}
.App_listItemParagraph__62Q_w,.App_listItemTitle__EIcW2{
    font-size:var(--typescale-1);
    line-height:1.5;
    display:block
}
.App_listItemParagraph__62Q_w{
    margin-top:12px;
    color:var(--color-shark-gray);
    max-width:228px
}
.Footer_container__zAbu1{
    background:var(--color-inset);
    color:var(--color-light-gray)
}
.Footer_footer__BcpJO{
    width:100%;
    padding:48px 12px 88px;
    max-width:1122px;
    display:-webkit-flex;
    display:-moz-box;
    display:flex;
    -webkit-align-items:flex-start;
    -moz-box-align:start;
    align-items:flex-start;
    -webkit-justify-content:space-between;
    -moz-box-pack:justify;
    justify-content:space-between;
    -webkit-flex-wrap:wrap;
    flex-wrap:wrap;
    margin:0 auto
}
.Footer_col__paX_m{
    padding:12px 12px 48px;
    width:25%
}
@media(max-width:768px){
    .Footer_col__paX_m{
        width:50%
    }
}
@media(max-width:428px){
    .Footer_col__paX_m{
        width:100%
    }
}
.Footer_p__bAF7I{
    margin-top:24px;
    line-height:1.5;
    padding-right:48px
}
.Footer_actions__xAHbA{
    margin-top:24px
}
.Footer_social__LucfO{
    height:48px;
    width:48px
}
.Footer_title__yUOnF{
    color:var(--color-light-gray);
    font-size:var(--typescale-1);
    padding-left:48px;
    font-weight:600
}
@media(max-width:768px){
    .Footer_title__yUOnF{
        padding-left:12px
    }
}
@media(max-width:428px){
    .Footer_title__yUOnF{
        padding-left:0
    }
}
.Footer_link__kQ8hw{
    font-size:var(--typescale-1);
    display:block;
    margin-top:12px;
    padding-left:48px;
    cursor:pointer;
    text-decoration:none
}
.Footer_link__kQ8hw,.Footer_link__kQ8hw:visited{
    color:var(--color-slate-gray)
}
.Footer_link__kQ8hw:hover{
    color:var(--color-light-gray)
}
@media(max-width:768px){
    .Footer_link__kQ8hw{
        padding-left:12px
    }
}
@media(max-width:428px){
    .Footer_link__kQ8hw{
        padding-left:0
    }
}
.Navigation_navigation__xmHcE{
    width:100%;
    max-width:1122px;
    margin:0 auto;
    padding:0 24px;
    min-height:72px;
    display:-webkit-flex;
    display:-moz-box;
    display:flex;
    -webkit-align-items:center;
    -moz-box-align:center;
    align-items:center;
    -webkit-justify-content:space-between;
    -moz-box-pack:justify;
    justify-content:space-between
}
.Navigation_item__ePUZg{
    font-weight:400;
    color:var(--color-light-gray);
    -webkit-transition:all .2s ease;
    transition:all .2s ease;
    text-decoration:none
}
.Navigation_item__ePUZg:hover{
    color:var(--color-shark-gray)
}
.Navigation_left__5qxf7{
    -webkit-flex-shrink:0;
    flex-shrink:0
}
.Navigation_right__NExp7{
    min-width:10%;
    width:100%;
    display:-webkit-flex;
    display:-moz-box;
    display:flex;
    -webkit-align-items:center;
    -moz-box-align:center;
    align-items:center;
    -webkit-justify-content:flex-end;
    -moz-box-pack:end;
    justify-content:flex-end
}
.Navigation_container__qQcM5{
    width:100%
}
@-webkit-keyframes TopicPickerGrid_fadeIn__r7Zri{
    0%{
        opacity:0;
        -webkit-transform:translateY(-48px);
        transform:translateY(-48px)
    }
    to{
        opacity:1;
        -webkit-transform:translateY(0);
        transform:translateY(0)
    }
}
@keyframes TopicPickerGrid_fadeIn__r7Zri{
    0%{
        opacity:0;
        -webkit-transform:translateY(-48px);
        transform:translateY(-48px)
    }
    to{
        opacity:1;
        -webkit-transform:translateY(0);
        transform:translateY(0)
    }
}
.TopicPickerGrid_container__sn80I{
    position:relative;
    display:-webkit-flex;
    display:-moz-box;
    display:flex;
    -webkit-align-items:flex-start;
    -moz-box-align:start;
    align-items:flex-start;
    -webkit-justify-content:space-between;
    -moz-box-pack:justify;
    justify-content:space-between;
    width:100%;
    margin:12px;
    padding-top:128px
}
@media(max-width:768px){
    .TopicPickerGrid_container__sn80I{
        padding-top:48px
    }
}
.TopicPickerGrid_topics__1LbJc{
    max-width:320px;
    width:100%;
    -webkit-flex-shrink:0;
    flex-shrink:0;
    display:-webkit-flex;
    display:-moz-box;
    display:flex;
    -webkit-flex-direction:column;
    -moz-box-orient:vertical;
    -moz-box-direction:normal;
    flex-direction:column
}
@media(max-width:768px){
    .TopicPickerGrid_topics__1LbJc{
        max-width:none
    }
}
.TopicPickerGrid_desktopContent__XDZeV{
    min-width:10%;
    width:100%;
    padding-left:48px
}
@media(max-width:768px){
    .TopicPickerGrid_desktopContent__XDZeV{
        display:none
    }
}
.TopicPickerGrid_desktopContentRow__M7gpx{
    display:-webkit-flex;
    display:-moz-box;
    display:flex;
    -webkit-align-items:center;
    -moz-box-align:center;
    align-items:center;
    -webkit-justify-content:center;
    -moz-box-pack:center;
    justify-content:center
}
.TopicPickerGrid_slot__hQW_M{
    display:-webkit-inline-flex;
    display:-moz-inline-box;
    display:inline-flex;
    -webkit-justify-content:space-between;
    -moz-box-pack:justify;
    justify-content:space-between;
    -webkit-align-items:flex-start;
    -moz-box-align:start;
    align-items:flex-start;
    width:100%;
    position:relative;
    -webkit-transition:background .2s ease;
    transition:background .2s ease
}
@media(max-width:768px){
    .TopicPickerGrid_slot__hQW_M{
        display:block
    }
}
.TopicPickerGrid_slot__hQW_M:hover{
    cursor:pointer
}
.TopicPickerGrid_slot__hQW_M:hover section{
    background:var(--color-dark-black-highlight)
}
.TopicPickerGrid_content__G5xUi{
    width:100%;
    min-width:10%;
    padding:0 24px 48px
}
@media(max-width:768px){
    .TopicPickerGrid_content__G5xUi{
        padding:24px 16px 48px
    }
}
.TopicPickerGrid_item__C9upt{
    background:var(--color-dark-black);
    display:-webkit-flex;
    display:-moz-box;
    display:flex;
    -webkit-flex-direction:column;
    -moz-box-orient:vertical;
    -moz-box-direction:normal;
    flex-direction:column;
    -webkit-align-items:center;
    -moz-box-align:center;
    align-items:center;
    -webkit-justify-content:space-between;
    -moz-box-pack:justify;
    justify-content:space-between;
    width:320px;
    -webkit-flex-shrink:0;
    flex-shrink:0
}
@media(max-width:768px){
    .TopicPickerGrid_item__C9upt{
        width:auto;
        height:auto
    }
}
.TopicPickerGrid_artwork__GwIoE{
    display:-webkit-flex;
    display:-moz-box;
    display:flex;
    -webkit-align-items:center;
    -moz-box-align:center;
    align-items:center;
    -webkit-justify-content:center;
    -moz-box-pack:center;
    justify-content:center;
    width:100%;
    overflow:hidden;
    -webkit-transition:all .2s ease;
    transition:all .2s ease;
    visibility:hidden
}
.TopicPickerGrid_text__yGK1y{
    font-family:Mono;
    text-transform:uppercase;
    width:100%;
    -webkit-flex-shrink:0;
    flex-shrink:0;
    text-align:left;
    display:block;
    font-size:var(--typescale-1);
    padding:8px 48px 8px 16px;
    z-index:10
}
.TopicPickerGrid_rich__T7qkg a{
    color:var(--color-green);
    font-weight:600;
    -webkit-transition:all .2s ease;
    transition:all .2s ease;
    text-decoration:none
}
.TopicPickerGrid_rich__T7qkg a:hover{
    opacity:.6
}
.TopicPickerGrid_rich__T7qkg h1{
    font-family:Heading;
    font-size:var(--typescale-2);
    font-weight:400;
    line-height:1.5;
    margin-bottom:24px
}
.TopicPickerGrid_rich__T7qkg h2{
    font-family:Heading;
    font-size:var(--typescale-3);
    font-weight:400;
    line-height:1.5;
    margin-bottom:16px
}
.TopicPickerGrid_rich__T7qkg h3{
    font-family:Heading;
    font-size:1.25rem;
    font-weight:400;
    line-height:1.4;
    margin-bottom:8px
}
.TopicPickerGrid_rich__T7qkg h3:first-child{
    margin-bottom:0
}
.TopicPickerGrid_rich__T7qkg h4,.TopicPickerGrid_rich__T7qkg h5{
    font-family:Heading;
    font-size:1.25rem;
    font-weight:400;
    line-height:1.4
}
.TopicPickerGrid_rich__T7qkg p{
    color:rgba(255,255,255,.8);
    font-size:1rem;
    line-height:1.5;
    margin-bottom:24px
}
.TopicPickerGrid_rich__T7qkg p:first-child{
    margin-bottom:0
}
.TopicPickerGrid_rich__T7qkg ul{
    padding-left:24px
}
.TopicPickerGrid_rich__T7qkg li{
    color:rgba(255,255,255,.8);
    margin-bottom:24px;
    line-height:1.5
}
.Tag_tag__Sg7ta{
    font-family:Mono;
    font-size:10px;
    text-transform:uppercase;
    text-align:center;
    padding:2px 4px;
    border-radius:4px;
    -webkit-flex-shrink:0;
    flex-shrink:0;
    margin-left:8px;
    -webkit-transform:translateY(-2px);
    transform:translateY(-2px);
    background:#fedc56;
    color:#000;
    display:inline-block;
    vertical-align:middle
}
.CodeBlock_code___gMmb{
    width:100%;
    min-width:10%;
    padding:0 0 24px 64px
}
.CodeBlock_code___gMmb pre{
    font-family:Mono;
    font-size:12px;
    padding:24px;
    border-radius:2px;
    scrollbar-width:none;
    -ms-overflow-style:-ms-autohiding-scrollbar;
    overflow:hidden;
    overflow-x:scroll
}
.CodeBlock_code___gMmb pre ::-webkit-scrollbar{
    display:none
}
@media(max-width:768px){
    .CodeBlock_code___gMmb{
        padding:48px 0 0
    }
}
.Grid_grid__tdbxd{
    max-width:1122px;
    width:100%;
    padding:0 24px;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    margin:0 auto
}
.MarketingDiveSection_container__zHtzH{
    width:100%;
    max-width:1120px;
    padding:0 12px;
    margin:0 auto;
    display:-webkit-flex;
    display:-moz-box;
    display:flex;
    -webkit-align-items:flex-start;
    -moz-box-align:start;
    align-items:flex-start;
    -webkit-justify-content:space-between;
    -moz-box-pack:justify;
    justify-content:space-between;
    -webkit-flex-wrap:wrap;
    flex-wrap:wrap
}
.MarketingDiveSection_topic__myHDO{
    -webkit-flex-shrink:0;
    flex-shrink:0;
    width:25%;
    display:-webkit-inline-flex;
    display:-moz-inline-box;
    display:inline-flex;
    -webkit-flex-direction:column;
    -moz-box-orient:vertical;
    -moz-box-direction:normal;
    flex-direction:column;
    -webkit-justify-content:flex-start;
    -moz-box-pack:start;
    justify-content:flex-start;
    margin-top:48px;
    padding:12px;
    text-decoration:none;
    color:var(--color-light-gray);
    -webkit-transition:all .2s ease;
    transition:all .2s ease;
    cursor:pointer
}
.MarketingDiveSection_topic__myHDO:visited{
    color:var(--color-light-gray)
}
.MarketingDiveSection_topic__myHDO:hover{
    opacity:.7
}
.MarketingDiveSection_topic__myHDO:hover figure{
    background:var(--color-dark-black-highlight)
}
@media(max-width:728px){
    .MarketingDiveSection_topic__myHDO{
        width:50%
    }
}
@media(max-width:428px){
    .MarketingDiveSection_topic__myHDO{
        width:100%
    }
}
.MarketingDiveSection_topicImage__nOeLg{
    display:-webkit-flex;
    display:-moz-box;
    display:flex;
    -webkit-transition:all .2s ease;
    transition:all .2s ease;
    width:100%;
    display:block;
    background:var(--color-inset);
    border-radius:2px
}
.MarketingDiveSection_topicTitle__h9vz7{
    font-weight:600;
    margin-top:24px;
    display:block
}
.MarketingDiveSection_topicText__lJnNU{
    margin-top:16px;
    display:block;
    line-height:1.5
}
.MarketingDiveSection_artworkChoice__JH5S7{
    display:block;
    width:100%
}
