@font-face{
    font-family:Mono;
    src:url(https://next-s3-public.s3.us-west-2.amazonaws.com/JetBrainsMono-Regular.woff2) format("woff")
}
@font-face{
    font-family:MonoMedium;
    src:url(https://next-s3-public.s3.us-west-2.amazonaws.com/JetBrainsMono-Medium.woff2) format("woff")
}
@font-face{
    font-family:Book;
    src:url(https://next-s3-public.s3.us-west-2.amazonaws.com/fvm/book.woff2) format("woff")
}
@font-face{
    font-family:Halbfett;
    src:url(https://next-s3-public.s3.us-west-2.amazonaws.com/fvm/halbfett.woff2) format("woff")
}
@font-face{
    font-family:Heading;
    src:url(https://next-s3-public.s3.us-west-2.amazonaws.com/fvm/medium.woff2) format("woff")
}
.App_container__fFRg0 * {
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    vertical-align:baseline;
    margin:0;
    padding:0;
    border:0
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
    display:block
}
body,html{
    --typescale-4:2.25rem;
    --typescale-3:1.75rem;
    --typescale-2:1.25rem;
    --typescale-base:1rem;
    --typescale-1:0.875rem;
    --color-black:#0a0c15;
    --color-dark-black:#0d0f19;
    --color-dark-black-highlight:#191e33;
    --color-anchor-gray:#535661;
    --color-slate-gray:#888a93;
    --color-shark-gray:#bdbdbd;
    --color-light-gray:#e7e8ec;
    --color-green:#46a546;
    --color-inset:var(--color-black);
    --color-neon:#50fa7b;
    --color-neon-hover:#65fd8c;
    --theme-background:#010101;
    --theme-text:var(--color-light-gray);
    --theme-border:var(--color-slate-gray);
    --theme-button:#194ec9;
    --theme-button-text:#fff;
    --theme-button-hover:#1e58de;
    --theme-success:#0e67ff;
    font-size:16px;
    background:var(--color-inset);
    color:var(--color-light-gray);
    font-family:Book,-apple-system,BlinkMacSystemFont,helvetica neue,helvetica,sans-serif;
    scrollbar-width:none;
    -ms-overflow-style:-ms-autohiding-scrollbar
}
@media(max-width:768px){
    body,html{
        font-size:14px
    }
}
body ::-webkit-scrollbar,html ::-webkit-scrollbar{
    display:none
}
