/* 
@font-face {
  font-family: Noto;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    // Google Fonts Jost
    local("Noto Sans Mono"),   // Full Name
    local("Noto-Regular"),           // PostScript name
    // indestructible Jost*
    local("Noto"),
    url("fonts/vendor/noto/NotoSansMono-VariableFont_wdth,wght.ttf") format("ttf"),
}
*/
